body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FCFCFD;
    color: white;
    font-family: 'Muli', serif;
}

.logo {
    background-color: #000000;
}

.page {
    height: 100vh;
    display: grid;
    grid-template-columns:  200px 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
    "logo header"
    "sidebar content"
}

