.overview {
    grid-area: content;
    margin: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    flex-basis: 30%;
    flex-grow: 1;
    margin: 10px;
}

.instances {
    margin: 10px 10px 20px 10px;
    color: #97e4ff;
    background-color: #97e4ff;
}

.tableTitle {
    background-color: #97e4ff;
}