.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #1976d2;
    padding: 0;
    margin: 0;
    grid-area: header;
    box-shadow: 0 0 6px black;
}

.header h4 {
    margin-right: 10px;
}

.header button {
    margin-right: 10px;
    text-align: center;
    line-height: 50%;
    padding: 2px 0 0 0;
    border-radius: 6px;
}

.header * {
    color: white;
}